/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
// @use 'vuetify/settings' with (
//   $color-pack: false
// );


@forward "vuetify/settings" with (
    $border-radius-root: 16px,
    $field-control-solo-background: rgb(var(--v-theme-background))
);

html { overflow: auto }
::-webkit-scrollbar {
    width: 10px;
    background: rgb(var(--v-theme-background));
  }

/* scroolbar */
  
  ::-webkit-scrollbar-thumb {
    background: rgb(var(--v-theme-surface-dark));
    border-radius: 3px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--v-theme-surface-dark));
  }